# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Software Engineering\Third Semester\Object Oriented Programming\JetBeans_Intellji_IDEA - Project's\AgeConversion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
